<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NBADATA</title>
    <link rel="icon" type="image/x-icon" href="assets/icon.png">
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/infocard.css" />
    <link rel="stylesheet" href="css/scatterplot.css" />
    <link rel="stylesheet" href="css/table.css" />
    <link rel="stylesheet" href="css/relation.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <script src="https://d3js.org/d3-force.v2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.0"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/topojson@3"></script>
    <script src="https://unpkg.com/d3-delaunay@4"></script>
    <script src="https://unpkg.com/d3-geo-voronoi@1"></script>
    <link rel="stylesheet" href="css/theme.min.css" />
</head>

<body>
    <div id="header-wrap" class="item-title">
        <header>
            <img id="title-img" src="assets/background.png">
        </header>
    </div>
    <div class="grid-container">
        <div id="nav">
            <label id="selector-label">选择球队: </label>
            <div class="selector-container">
                <select name="Team" id="team-selector" class="form-control">
                    <option value="ALL" selected>所有球队</option>
                    <option value="ATL">Atlanta Hawks</option>
                    <option value="BOS">Boston Celtics</option>
                    <option value="BKN">Brooklyn Nets</option>
                    <option value="CHA">Charlotte Hornets</option>
                    <option value="CHI">Chicago Bulls</option>
                    <option value="CLE">Cleveland Cavaliers</option>
                    <option value="DAL">Dallas Mavericks</option>
                    <option value="DEN">Denver Nuggets</option>
                    <option value="DET">Detroit Pistons</option>
                    <option value="GSW">Golden State Warriors</option>
                    <option value="HOU">Houston Rockets</option>
                    <option value="IND">Indiana Pacers</option>
                    <option value="LAC">LA Clippers</option>
                    <option value="LAL">Los Angeles Lakers</option>
                    <option value="MEM">Memphis Grizzlies</option>
                    <option value="MIA">Miami Heat</option>
                    <option value="MIL">Milwaukee Bucks</option>
                    <option value="MIN">Minnesota Timberwolves</option>
                    <option value="NOP">New Orleans Pelicans</option>
                    <option value="NYK">New York Knicks</option>
                    <option value="OKC">Oklahoma City Thunder</option>
                    <option value="ORL">Orlando Magic</option>
                    <option value="PHI">Philadelphia 76ers</option>
                    <option value="PHX">Phoenix Suns</option>
                    <option value="POR">Portland Trail Blazers</option>
                    <option value="SAC">Sacramento Kings</option>
                    <option value="SAS">San Antonio Spurs</option>
                    <option value="TOR">Toronto Raptors</option>
                    <option value="UTA">Utah Jazz</option>
                    <option value="WAS">Washington Wizards</option>
                </select>
            </div>
            <div class="right-of-banner">
            </div>
        </div>
        <div class="item-intro">
            <h2>NBA数据可视化</h2>
            <p>
                在每个 NBA 2024-2025 常规赛中，30 支球队的数百名球员为我们带来激动人心的比赛。
                本项目可帮助你浏览本个赛季中每位球员的表现。
                可以在散点图中使用 6 种不同的数据统计来自由比较球员表现。
                还可以查看下方的图表，了解球队的胜负关系。
                <br>
        </div>
        <div class="item-notes">
            <h2>注释:</h2>
            PPG: 场均得分 &nbsp&nbsp&nbsp RPG: 场均篮板<br>
            AST: 场均助攻 &nbsp&nbsp STL: 场均抢断<br>
            BLK: 场均盖帽 &nbsp&nbsp&nbsp TO: 场均失误<br>          
        </div>

        <div id="table-wrapper" class="item-table">
            <div id="clear"></div>
            <div id="search-bar-content">
                <i class="fa fa-search icon"></i>
                <input type="text" id="search-bar" placeholder="搜索球员（ID/姓名）">
            </div>
            <table id="table">
                <thead>
                    <tr id="headers">
                        <th class="sortable" width="80">NAME<i class="fas no-display"></i></th>
                        <th class="sortable" width="70">TEAM<i class="fas no-display"></i></th>
                        <th class="sortable">PPG<i class="fas no-display"></i></th>
                        <th class="sortable">RPG<i class="fas no-display"></i></th>
                        <th class="sortable">AST<i class="fas no-display"></i></th>
                        <th class="sortable">STL<i class="fas no-display"></i></th>
                        <th class="sortable">BLK<i class="fas no-display"></i></th>
                        <th class="sortable">TO<i class="fas no-display"></i></th>
                    </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>

        </div>
        <div class="item-infocard">

            <div id="infocard">
                <div id="bg_color" class="stats-player-summary team-color OKC" ng-class="{'no-team': !hasTeamTheme}"
                    ng-init="isOpen=false">

                    <div class="stats-teamplayer-summary-container with-padding">
                        <!---->
                        <div class="stats-player-summary__bg" ng-if="hasTeamTheme">
                            <img id="team_background_logo" team-logo="" usenewlogos="true" abbr=""
                                class="team-logo away team-img" type="image/svg+xml"
                                src="https://res.nba.cn/media/img/teams/logos/OKC_logo.svg">
                        </div>
                        <!---->

                        <div class="stats-player-summary__container">
                            <div class="summary-player">
                                <!---->

                                <div class="summary-player__teamlogo" ng-if="hasTeamTheme">
                                    <img id="team_logo" team-logo="" usenewlogos="true" abbr="OKC"
                                        class="team-logo away team-img" type="image/svg+xml"
                                        src="https://res.nba.cn/media/img/teams/logos/OKC_logo.svg">
                                </div>
                                <!---->

                                <div class="summary-player__logo">
                                    <img id="player_logo" player-headshot="" class="player-img"
                                        src="https://res.nba.cn/media/img/players/head/260x190/1628983.png"
                                        onerror="this.src='assets/image-not-found.png'">
                                </div>
                                <div class="summary-player__text">
                                    <div class="player-name">
                                        <div class="stats-teamplayer-summary-text">
                                            <!----><span ng-if="playerInfo.TEAM_ID != '0'">
                                                <span id="team_name">Oklahoma City Thunder</span>
                                            </span>
                                            <!---->
                                        </div>
                                        <div class="stats-teamplayer-summary-text medium">
                                            <span id="myname">2 Shaivonte Aician Gilgeous-Alexander</span>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="summary-player-stats">
                        <div class="hor-divider"></div>
                        <div class="stats-teamplayer-summary-container with-padding">
                            <div class="summary-player-stats__container">

                                <div class="stats">
                                    <div class="ver-divider"></div>
                                    <div class="stats__category border-right">
                                        <div class="stats-teamplayer-summary-text">PPG</div>
                                        <div id="PTS" class="stats-teamplayer-summary-text medium"> 32.7 </div>
                                    </div>
                                    <div class="ver-divider"></div>
                                    <div class="stats__category border-right">
                                        <div class="stats-teamplayer-summary-text">RPG</div>
                                        <div id="REB" class="stats-teamplayer-summary-text medium"> 5.0 </div>
                                    </div>
                                    <div class="ver-divider"></div>
                                    <div class="stats__category border-right">
                                        <div class="stats-teamplayer-summary-text">AST</div>
                                        <div id="AST" class="stats-teamplayer-summary-text medium"> 6.4 </div>
                                    </div>
                                    <div class="ver-divider"></div>
                                    <!---->
                                    <div ng-if="availableStats.current" class="stats__category">
                                        <div class="stats-teamplayer-summary-text">BLK</div>
                                        <div id="BLK" class="stats-teamplayer-summary-text medium"> 1.0 </div>
                                    </div>
                                    <div class="ver-divider"></div>
                                    <!---->
                                    <div ng-if="availableStats.current" class="stats__category">
                                        <div class="stats-teamplayer-summary-text">STL</div>
                                        <div id="STL" class="stats-teamplayer-summary-text medium"> 1.2 </div>
                                    </div>
                                    <!---->
                                    <!---->
                                    <div ng-if="availableStats.current" class="ver-divider"></div>
                                    <!---->
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item-scatterplot"></div>
        <div class="item-types">
            <hr style="width: 90%;margin-bottom: 20px;">
            
        </div>
    </div>
    <div style="text-align: center;">
        <h1>球队关系图</h1>
        <p>NBA 联赛的基础和最大亮点在于球队之间的直接竞争关系。<br/>
           下图展示了 2024 - 2025 常规赛中不同球队之间的关系，鼠标悬停在对应球队的区域就能显示与其他球队的竞争关系。<br/>
           如果一支球队在整个赛季与另一支球队的直接比赛中赢得更多场次，那么将这种关系将表示为 <b style="color:red">”胜“</b> ；<br/>
           反之，如果一支球队在与另一支球队的直接比赛中输得更多，那么将这种关系将表示为<b style="color:rgb(4,255,0)">“负”</b> ；<br/>
            否则，若两队胜负场次相等，它们之间的关系将被表示为 <b style="color:rgba(19, 79, 211, 0.493)">“平”</b> 。
        </p>
    </div>
    <div class="map_pos">
        <svg width="960" height="600">
            <!-- must be in this order for drawing -->
            <g id="basemap"></g>
            <g id="types"></g>
            <g id="games"></g>
            <g id="teams"></g>
            <g id="voronoi"></g>
            <text id="tooltip" style="display: none;"></text>
            <!-- <text id="tooltip" style="display: none;"></text> -->
        </svg>
    </div>
    <div id="tool-tip"></div>

    <script src="js/table.js"></script>
    <script src="js/infocard.js"></script>
    <script src="js/scatterplot.js"></script>
    <script src="js/typeChart.js"></script>
    <script src="js/script.js"></script>
    <script src="js/team_relation.js"></script>
    <script src="js/theme.min.js"></script>
</body>

</html>